body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  /* Full image background */
  background-image: url("C:/Users/kethi/Downloads/Sprint 1/pin-location-line-connection-low-poly-wireframe-design-abstract-geometric-background-vector-illustration_42421-1309.avif");
  background-repeat: no-repeat;
  background-size: cover;       /* makes image full screen */
  background-position: center;  /* centers the image */

  /* Center content */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.auth-card {
  width: 380px;
  padding: 30px;
  border-radius: 15px;

  /* Glassmorphism background */
  background: rgba(255, 255, 255, 0.15);   /* translucent white */
  backdrop-filter: blur(12px);             /* BLUR EFFECT */
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.auth-card h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.9rem;
  color: #f4c430;
}

.auth-card p {
  margin: 0 0 20px 0;
  font-size: 1rem;
  color: #f0f0f0;
}

.auth-card input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;

  border-radius: 8px;
  border: none;

  background: rgba(255, 255, 255, 0.85);
  color: #222;

  font-size: 1rem;
}

.primary-btn {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background-color: #f4c430;
  color: #0047ab;

  font-size: 1.1rem;
  font-weight: 700;

  cursor: pointer;
  transition: 0.25s ease;
}

.primary-btn:hover {
  background-color: #ffd75f;
}

#error {
  margin-top: 10px;
  color: #ff4444;
  font-size: 0.9rem;
}


.meta {
  margin-top: 15px;
  font-size: 0.95rem;
}

.meta a {
  color: #f4c430;
  font-weight: 600;
  text-decoration: none;
}

.meta a:hover {
  text-decoration: underline;
}
